html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #444;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a.button {
  text-decoration: none;
}

input:not([type="submit"]) {
  border: 1px solid #ccc;
  margin-bottom: 2em;
  padding: 1em 0.5em;
  width: 50%;
}

/* app */
.app {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: #555;
}

.app-header {
  background-color: #222;
  height: 120px;
  width: 100%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: left;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-title {
  margin-left: 40px;
}

.app-title h1 {
  font-size: 36px;
  line-height: 40px;
}

.app-intro {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
}

.app-intro ul {
  list-style-type: none;
  padding: 0;
}

.app-intro li {
  margin: 0 auto;
}

.app-form {
  text-align: center;
  font-size: 16px;
  color: white;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .app {
    width: 100%;
  }

  .app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 2.5em;
    margin-top: 20px
  }

  .app-title h1 {
    font-size: 2em;
  }

  button,
  input[type="submit"],
  .button {
    display: block;
    margin-bottom: 10px;
    width: 20%;
  }
}
